/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'DreamAvenue';
    src: url('./DreamAvenue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lastica';
    src: url('./Lastica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DreamAvenue', sans-serif;
}