.home-page {
    background-color: #1a0b8b;
    width: 100vw;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    justify-items: center;
}

.card-main {
    width: 23v;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
    .card-main {
        width: 48vw;
        padding: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-main {
        width: 90vw;
        padding: 5vw;
    }
}