.home-page {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: xx-large;
    color: #fff1f1;
    background: linear-gradient(45deg, #3e1d59, #1e2b51);
    text-align: center;
    height: max-content;
    width: 100vw;
}

.home-page img {
    width: 100vw;
    aspect-ratio: 1.77;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    position: relative;
    padding: 8vw;
}

.card-main {
    width: 20vw;
    height: 50%;
    object-fit: cover;
    justify-self: center;
    position: relative;
    margin-bottom: 5vw;
    align-content: center;
}


@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-main {
        width: 80vw; 
    }
}

@media only screen and (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-main {
        width: 100vw; 
    }
}