.teamsleft {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .achievementleft {
    height: 40vh;
    width: 18vw;
    margin: -40px 60px -60px 40px;
    border-radius: 10px;
    display: flex;
    background-color: #012147;
    color: white;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
  .achievementleft:hover {
    transform: rotateY(180deg);
  }
  
  .front-card {
    height: 38vh;
    width: 18vw;
    display: flex;
    backface-visibility: hidden;
    padding: 1rem;
    justify-content: space-around;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: #08065a;
  }
  
  .back-card {
    height: 38vh;
    width: 18vw;
    display: flex;
    position: absolute;
    justify-content: space-around;
    backface-visibility: hidden;
    background-color: #2830b5;
    transform: rotateY(180deg);
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
  }
  
  .achievementleft span {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    align-self: center;
    overflow-wrap: break-word;
    white-space: normal;
  }