.logincont {
    background: linear-gradient(45deg, #3e1d59, #1e2b51);
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.logincont h2 {
    font-size: 5rem;
    padding-top: 60px;
    color: #fff;
}

.login a {
    text-decoration: none;
    color: #1e2b51;
    cursor: default;
  } 
  
  .container-sign-in {
    background: #fff;
    box-shadow: 0 0 20px 0 #0003, 0 5px 5px 0 #0000003d;
    margin: 0 auto 100px;
    max-width: 70vw;
    padding: 45px;
    position: relative;
    text-align: center;
  }
  
  .container-sign-in button {
    border-radius: 15px;
    background: linear-gradient(45deg, #3e1d59, #1e2b51);
    padding: 10px 20px;
    color: #f1c7e5;
    text-decoration: none;
    max-width: 70vw;
    width: 30vw;
    margin: 2%;
  }
  
  .container-sign-in button:hover {
    cursor: pointer;
  }
  
  .container-sign-in input {
    border: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    outline: 0;
    padding: 15px;
    width: 100%;
    background: #f2f2f2;
    box-sizing: border-box;
    margin: 0 0 15px;
  }